<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
</head>

<body>

<header>
    <h1>Sentiment Analysis</h1>
</header>

<main>
    <section>
        <form onsubmit="return ClientLib.handleSubmit(event)">
            <label for="text">Your text</label>
            <textarea id="text" name="input" placeholder="Insert your text here"></textarea>
            <input type="submit" name="" value="submit" onclick="return ClientLib.handleSubmit(event)"
                   onsubmit="return ClientLib.handleSubmit(event)">
        </form>
    </section>

    <section>
        <label for="results">Results</label>
        <div class="results" id="results">
            <p id="status-line">Results will be shown here after you click "submit"</p>
            <table id="results-table">
                <caption>Results</caption>
                <thead class="table-header">
                <tr>
                    <th scope="col">Parameter</th>
                    <th scope="col">Value</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Polarity</th>
                        <td id="polarity"></td>
                    </tr>
                    <tr>
                        <th scope="row">Subjectivity</th>
                        <td id="subjectivity"></td>
                    </tr>
                    <tr>
                        <th scope="row">Irony</th>
                        <td id="irony"></td>
                    </tr>
                    <tr>
                        <th scope="row">Agreement</th>
                        <td id="agreement"></td>
                    </tr>
                    <tr>
                        <th scope="row">Confidence</th>
                        <td id="confidence"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2023 Super Duper Data Analytics</p>
</footer>

<script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
        });
    }
</script>
</body>
</html>
