<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Travel Planer</title>
    <!-- prevent zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>

<header>
    <h1>Travel Planer</h1>
</header>

<main>
    <section id="trips-section">
        <h2>My planned trips</h2>
        <div id="trips"></div>
        <div id="show-trips-status-line"></div>
    </section>
    <template id="trip-template">
        <div class="trip">
            <h2>My trip to <span class="destination">Paris, France</span></h2>
            <p class="departure"><strong>Departing:</strong> <span class="departure-date">12 December 2022</span> <span
                    class="days-until-departure">(100 days away)</span></p>
            <img class="img-destination" src="https://cdn.pixabay.com/photo/2013/04/11/19/46/building-102840_960_720.jpg" alt="Paris">
            <div class="weather">
                <p><strong>Typical weather is:</strong></p>
                <p>High: <span class="temp-high">15</span>°C</p>
                <p>Low: <span class="temp-low">5</span>°C</p>
                <p>Humidity: <span class="humidity">30</span>%</p>
                <p>Chance of rain: <span class="chance-of-rain">30</span>%</p>
            </div>
        </div>
    </template>

    <section id="add-trip">
        <h2>Add new trip</h2>
        <form id="form-add-trip">
            <label for="input-destination">Destination</label>
            <input id="input-destination" type="text" name="destination" placeholder="Put your destination here" required>
            <label for="input-departure-date">Departing on</label>
            <input id="input-departure-date" type="date" name="departure-date" required>
            <input id="submit-form" type="submit" name="input">
        </form>
        <div id="add-trip-status-line"></div>
    </section>
</main>

<footer>
    <p>&copy; 2023 Super Duper Data Analytics</p>
</footer>

</body>
</html>
