
#add-trip {
  background-color: #FFF5CC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-add-trip {
  max-width: 400px;
  width: 100%;
}

input {
  padding: 5px 20px;
  width: 100%;
  line-height: 16px;
  margin: 10px 0;

  &:invalid {
    border: 2px solid red;
  }

}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

