body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 2;
    
    h1 {
      text-align: center;
      margin: 50px 0;
      font-size: 3em;
    }

    section {
      max-width: 800px;
      margin: 50px auto;
      border: 1px solid black;
      border-radius: 3px;
      padding: 40px;
    }
  }
}



