#trips-section {
  background-color: #FFF5CC;
}

#trips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px;
  gap: 10px;
  background-color: #D0E1F9;


  img {
    width: 100%;
    margin: 20px 0;
  }

  .weather {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}


